.app {
    text-align: center;
}

.app-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.app-title {
    font-size: 1.5em;
}

.app-intro {
    font-size: large;
}

.main-form-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main-form {
    margin-top: 2rem;
    gap: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
}

.main-form-group > label {
    text-align: left;
}

.main-form > button[type="submit"] {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    transition: background-color 0.25s ease-in-out;
}

.main-form > button[type="submit"]:hover {
    background-color: var(--health-share-blue);
    color: white;
}
